<!DOCTYPE html>
<html data-th-replace="~{base :: parent(~{:: #content},~{::title},~{::script})}" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title data-th-text="${loggedInEmployee != null ? loggedInEmployee.name + ' | Slider' : 'Slider'}">
		MainSlide
	</title>
</head>

<body>

	<div id="content" class="min-h-screen flex flex-col">

		<!-- Main Content -->

		<main class=" px-4 sm:ml-64 transition-all duration-300">

			<h2 class="text-2xl font-bold mb-4">All Main Slide</h2>

			<a data-th-href="@{'/editor/slider/add'}" class="">
				<h3 class="text-blue-500 text-2xl font-bold">Add Slide</h3>

			</a>

			<div data-th-replace="~{message :: messagebox}"></div>

			<!-- Horizontal Scroll Container -->
			<div class="overflow-x-auto rounded-lg shadow border">

				<table data-th-unless="${slider.empty}" class="min-w-[900px] w-full bg-white">

					<thead>
						<tr class="text-sm bg-gray-100 border-b">
							<th class="p-3 text-left">SliderType</th>
							<th class="p-3 text-left">About</th>
							<th class="p-3 text-left">Slide</th>
							<th class="p-3 text-center">Action</th>
						</tr>
					</thead>

					<tbody>
						<tr data-th-each="obj : ${slider}" data-th-object="${obj}"
							class="border-b hover:bg-gray-50 text-sm">

							<td class="p-3" data-th-text="*{sliderType}"></td>
							<td class="p-3" data-th-text="*{about}"></td>

							<td class="p-3">

								<a th:href="${obj.mediaUrl}" target="_blank">

									<div class="relative w-48 h-28
                    border border-gray-300 rounded-lg
                    bg-gray-100 overflow-hidden
                    flex items-center justify-center">

										<!-- Image -->
										<img th:if="${obj.mediaType == 'IMAGE'}" th:src="${obj.mediaUrl}"
											alt="Slide Image" class="block w-full h-full object-cover rounded-lg">

										<!-- Video -->
										<video th:if="${obj.mediaType == 'VIDEO'}" th:src="${obj.mediaUrl}"
											class="block !w-full !h-full object-cover rounded-lg" autoplay muted loop
											playsinline onmouseenter="this.pause()" onmouseleave="this.play()">
										</video>

									</div>

								</a>

							</td>

							<td class="p-3">
								<div class="flex flex-wrap gap-2 justify-center">

									<a th:href="@{/editor/slider/update/{id}(id=${obj.sliderId})}"
										class="bg-gray-600 hover:bg-gray-700 text-white px-3 py-2 rounded text-xs sm:text-sm">
										Update
									</a>

									<button th:onclick="deleteSlide([[${obj.sliderId}]])"
										class="bg-red-500 hover:bg-red-600 text-white px-3 py-2 rounded cursor-pointer text-xs sm:text-sm">
										Delete
									</button>

								</div>
							</td>

						</tr>
					</tbody>

				</table>

			</div>

			<h1 data-th-if="${slider.empty}" class="text-center text-2xl sm:text-5xl bg-white p-6 mt-4">
				No Result Found 5181590111549549, 12/32, 416
			</h1>

		</main>

	</div>

	<script>

	</script>

</body>

</html>