<!DOCTYPE html>
<html lang="en" th:fragment="parent(content, title,script)" xmlns:th="http://www.thymeleaf.org" class="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">Base</title>

    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" data-th-href="@{/css/output.css}">
    <link rel="stylesheet" data-th-href="@{/css/style.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
	
</head>

<body class="bg-gray-100"> 

    <!-- Navbar -->

    <!-- it will show when user loggedin -->
    <div th:if="${loggedInUser}">
        <div th:replace="~{user/user_loggedIn :: user_navbar}">        
        </div>
    </div>

    
    <!-- it will show when user not loggedin -->
   <div th:unless="${loggedInUser}">
        <div th:replace="~{navbar :: navbar}">
        </div>
    </div>
	
    <!-- Page content -->
	
		<main class="pt-[80px] ">
		    <section th:replace="${content}"></section>
		</main>


	
		<script th:src="@{/js/admin.js}"></script>
		<script th:src="@{/js/script.js}"></script>
		<script th:src="@{/js/contacts.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<!-- <th:block data-th-replace="${script}"></th:block> -->
</body>

</html>