<!DOCTYPE html>

<html
    data-th-replace="~{base :: parent(~{:: #content},~{::title},~{::script})}"
    lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ResetPassword</title>

</head>

<body>

<div id="content">

    <div class="grid grid-cols-12 mt-4">

        <div class="col-span-1 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>

        <div class="col-span-10 md:col-span-8 lg:col-span-6 xl:col-span-4 border-t-8 border-green-700 rounded-2xl bg-white">

            <h2 class="text-3xl font-bold mb-6 text-center text-gray-700">
                Reset Password
            </h2>

            <div data-th-replace="~{message::messagebox}"></div>

            <div class="text-red-600 text-center my-3" data-th-if="${param.error}">
                Invalid Username or Password!
            </div>

            <div class="text-green-600 text-center my-3" data-th-if="${param.logout}">
                Logout Successful!
            </div>

<form th:action="@{/employee/password/do-reset/{employeeId}(employeeId=${employeeId})}"
      th:object="${passwordResetForm}"
      method="post">

    <!-- Email -->
    <div class="mb-4">

        <label for="email"
               class="block mb-2 text-sm font-medium text-gray-900">
            Email
        </label>

        <input type="email"
               id="email"
               th:field="*{email}"
               class="w-full p-2.5 border rounded-lg"
               placeholder="Enter employee email"
               required>

        <p th:if="${#fields.hasErrors('email')}"
           th:errors="*{email}"
           class="text-red-500 text-sm mt-1">
        </p>

    </div>


    <!-- New Password -->
    <div class="relative  my-2">

		<label for="password"
		       class="block text-sm font-medium text-gray-900">
		    Password
		</label>

        <input
            type="password"
            id="password"
            name="password"
			th:field="*{password}"
            placeholder="Enter your password"
            class="password bg-gray-50 border border-gray-300 text-gray-900 text-sm
                   rounded-lg focus:ring-blue-500 focus:border-blue-500
                   block w-full p-2.5 pr-12" />

        <!-- Eye Toggle Button -->
        <button
            type="button"
            id="togglePassword"
            class="absolute right-0 top-0 h-full px-3 mt-2
                   text-gray-500 hover:text-gray-700
                   focus:outline-none"
            aria-label="Show password">

            <i id="passwordEye" class="fa-solid fa-eye"></i>

        </button>

    </div>
	<p th:if="${#fields.hasErrors('password')}"
	   th:errors="*{password}"
	   class="text-red-500 text-sm mt-1">
	</p>
	
    <!-- Confirm Password -->
    <div class="relative my-2">

        <label for="confirmPassword"
               class="block  text-sm font-medium text-gray-900">
            Confirm Password
        </label>

		<input
		    type="password"
		    id="confirmPassword"
		    name="password"
			th:field="*{confirmPassword}"
		    placeholder="Enter your password"
		    class="password bg-gray-50 border border-gray-300 text-gray-900 text-sm
		           rounded-lg focus:ring-blue-500 focus:border-blue-500
		           block w-full p-2.5 pr-12" />
				   
				   
				   <!-- Eye Toggle Button -->
				   <button
				       type="button"
				       id="togglePassword"
				       class="absolute right-0 top-0 h-full px-3 mt-2
				              text-gray-500 hover:text-gray-700
				              focus:outline-none"
				       aria-label="Show password">

				       <i id="passwordEye" class="fa-solid fa-eye"></i>

				   </button>

    </div>
	<p th:if="${#fields.hasErrors('confirmPassword')}"
	   th:errors="*{confirmPassword}"
	   class="text-red-500 text-sm mt-1">
	</p>

    <button type="submit"
            class="w-full bg-blue-600 text-white py-2.5 rounded-lg hover:bg-blue-700">

        Reset Password

    </button>

</form>
        </div>

    </div>

</div>


<script>

</script>

</body>

</html>